.team {
  padding: $section-padding;
  &--grey-background {
    background-color: $portfolioButton;
  }
  &__heading {
    @include section-heading;
  }
  &__list {
    @include flex-center;
    list-style: none;
    justify-content: center;
    gap: $flex-gap;
  }
  &__item {
    background-color: $colorWhite;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
  }
  &__title {
    font-weight: $font-thick;
    font-size: $font-m;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: $socialsColor;
    margin: 30px 0 10px 0;
  }
  &__text {
    font-size: $font-m;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: $fontColorSecondary;
    margin: 0 0 16px 0;
  }
  &__icon-list {
    @include flex-center;
    list-style: none;
    gap: 10px;
    justify-content: center;
    margin-bottom: $flex-gap;
  }
  &__icon-link {
    @include flex-center;
    justify-content: center;
    width: $font-xxl;
    height: $font-xxl;
    border-radius: 50%;
    fill: $socialIcon;
    transition: background-color $transition-delay, fill $transition-delay,
      border-radius $transition-delay;
    &:hover,
    &:focus {
      background-color: $selectionColor;
      fill: $colorWhite;
      border-radius: 50%;
    }
  }
}
